# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Swift Package Manager
/.build/
/Packages/

# CocoaPods（使ってないけど、一応）
Pods/

# Firebase / Secrets
GoogleService-Info.plist
Secrets.swift

# IDE
.idea/
.vscode/
*.swp
